body{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: roboto;
}

.head{
    color:white;
    background-color:midnightblue;
    width:100%;
    display:flex;
    justify-content: center;
    padding:30px 0px 30px 0px;
    margin:0;
}

.container{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    
}
.playerSelector{
    display:flex;
    gap:46px;
}

.playerSelector img{
    width:80px;
}
.intro{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:50px;
}
.row{
    padding:20px;
}

.score{
    font-size: 30px;
    display:flex;
    gap:50px;
    padding:20px;
    display:flex;
    justify-content: center;

}
.result, .endGame{
    display:flex;
    gap:50px;
    padding:20px;
    display:flex;
    justify-content: center;
}
.battleGround{
    display:flex;
    gap:40px;
    align-items: center;
    padding:50px;

}
#vs{
    font-size: 140px;
}

.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
}